/* Style the header */
.header {
  padding: 100px;
  height: calc(100vh - 200px);
  text-align: center;
  background-image: url("back.jpg");
  color: black;
  scroll-behavior: smooth;
}

/* Increase the font size of the h1 element */
.header h1 {
  padding: 40px;
  font-size: 80px;
  scroll-behavior: smooth;
}

/* Header Description text */
.header p1{
    font-size: 20px;
}

.resume_page p2{
  position: absolute;
  width: 100%;
  text-align: center;
  top: calc(202vh);
  font-size: 30px;
  font-weight: bold;
}

.projects_page p2{
  position: absolute;
  width: 100%;
  text-align: center;
  top: calc(102vh);
  font-size: 30px;
  font-weight: bold;
}

.contact_page p2{
  position: absolute;
  width: 100%;
  text-align: center;
  top: calc(302vh);
  font-size: 30px;
  font-weight: bold;
}

.contact_page p3{
  position: absolute;
  font-size: 20px;
  width: 100%;
  text-align: center;
}

.resume_item h2{
  position: absolute;
  left: 12px;
  top: 0px;
  font-weight: normal;
  color: rgb(46, 46, 46);
  font-size: 25px;
}

.resume_item date{
  position: absolute;
  left: 36px;
  top: 57px;
  font-weight: normal;
  color: rgb(136, 136, 136);
  font-size: 12px;
}

.resume_item description{
  position: absolute;
  left: 14px;
  top: 85px;
  font-weight: normal;
  color: rgb(68, 68, 68);
  font-size: 15px;
  line-height: 25px;
}

/* Style the top navigation bar */
.navbar {
  background-color: #c3f0ff;
  width: 100%;
  transition: 0.4s;
  top: 0px;
  /* make padding 18*/
  padding: 18px 20px;
  position: fixed;
  display: block;
  scroll-behavior: smooth;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 12px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color:#1ba0dd;
  color: black;
}

.projects_page {
  background-color: white;
  flex-direction: column;
  width: 100%;
  height: calc(100vh);
  scroll-behavior: smooth;
}

.resume_page {
  flex-direction: column;
  width: 100%;
  background-color: white;
  height: calc(100vh);
}

.contact_page{
  width: 100%;
  background-color: white;
  height: calc(110vh);
}

.project_item{
  border-style: solid;
  border-width: 3.5px;
  border-color: white;
  color: black;
  display: block;
  background-color: rgb(248, 250, 255);
  width: calc(100vw/4 - 50px);
  height: 62%;

  /*postioning*/
  position: absolute;
  left: 40px;
  top: calc(108vh);
} 

.project_item h2{
  top: calc((100vw/4 - 90px)/1.6667);
  width:100%;
  text-align: center;
  position: absolute;
  font-weight: normal;
  color: rgb(46, 46, 46);
  font-size: 25px;
}

.project_item h3{
  top: calc((100vw/4 - 20px)/1.6667);
  width:100%;
  text-align: center;
  position: absolute;
  font-weight: normal;
  color: rgb(136, 136, 136);
  font-size: 18px;
}

.project_item h4{
  top: calc((100vw/4 + 40px)/1.6667);;
  width:100% - 60px;
  text-align: center;
  position: absolute;
  font-weight: normal;
  color: rgb(46, 46, 46);
  font-size: 16px;
  padding: 0px 30px;
}

.project_item:hover {
  transition: 0.5s;
  border-color: #1ba0dd;
}

.project_image{
  position: absolute;
  top: 30px;
  width: calc(100vw/4 - 130px);
  height: calc(100vw/4 - 130px)/1.6667;
  left: 40px;
}

.language_icon{
  position: absolute;
  width: 18px;
  height: 18px;
  left: calc((100vw/4 - 50px)/2 - 43px);
  top: calc((100vw/4)/1.6667 + 7px);
}

.language_circle{
  transition: 0.55s;
  position: absolute;
  background-color: #c3f0ff;
  border-radius: 50%;
  width: 0px;
  height: 0px;
  top: 182vh;
  left:calc(50vw - 40px);
}

.language_image{
  transition:0.55s;
  position: absolute;
  width:45px;
  height:45px;
  top:183.5vh;
  left:calc(50vw - 40px);
}

.language_group:hover .language_circle{
  background-color: #1ba0dd;
}

.language_circle:hover{
  transition: 0.3s;
  background-color: #1ba0dd;
}

.download_button {
  background-color: #c3f0ff;
  border: none;
  color: black;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 1.2vw;
  position: absolute;
  /* right: 195px; */
  width:12%;
  height:6%;
  left: calc(74vw);
  top: calc(208vh + 41vw);
}

.download_button:hover {
  background-color: #1ba0dd;
  transition: 0.3s;
}

.resume_pic {
  position: absolute;
  /* right: 50px; */
  left: 65%; 
  width:30%;
  height:39vw;
  top: calc(208vh);
}

.calendar_icon{
  position: absolute;
  width: 12px;
  height: 12px;
  left: 14px;
  top: 57px;
}

.resume_item {
  border-style: solid;
  border-width: 5px;
  border-color: white;
  color: black;
  display: block;
  background-color: rgb(248, 250, 255);
  /*padding: 100px 250px;*/
  width: 50%;
  height: 25%;
  /*postioning*/
  position: absolute;
  /* right: 700px; */
  left:5%;
  top: calc(208vh);

}

.resume_item:hover {
  transition: 0.5s;
  border-color: #1ba0dd;
}

input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 3px solid rgb(158, 158, 158);
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 30px;
  resize: vertical;
}

input[type=text]:hover{
  transition: 0.3s;
  border: 3px solid #1ba0dd;
}

textarea:hover{
  transition: 0.3s;
  border: 3px solid #1ba0dd;
}

input[type=text]:focus {
  transition: 0.3s;
  border: 4px solid #1ba0dd;
}

textarea:focus{
  transition: 0.3s;
  border: 4px solid #1ba0dd;
}

button{
  background-color: #c3f0ff;
  color: black;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

button:hover{
  transition: 0.3s;
  background-color: #1ba0dd;
}

.form_background{
  width: calc(70vw);
  background-color: rgb(248, 250, 255);
  padding: 50px 20px;
}

.form_group{
  background-color: white;
  padding: 90px calc((30vw - 40px)/2);
}

.button_group{
  background-color: rgb(26, 26, 26);
  padding: 100px calc((95vw - 100px)/2);
}

.github_logo{
  position:absolute;
  top:calc(400vh + 145px);
  width:50px;
  height:50px;
  left:calc(50vw);
}

.github_logo:hover{
  transition: 0.2s;
  width:53px;
  height:53px;
}

.linkedin_logo{
  left:calc(50vw - 75px);
  position:absolute;
  top:calc(400vh + 145px);
  width:50px;
  height:50px;
}

.linkedin_logo:hover{
  transition: 0.2s;
  width:53px;
  height:53px;
}


.footer {
  color: white;
  height: 290px; 
  padding: 20px 0px;
  text-align: center;
  background: rgb(26, 26, 26);
  scroll-behavior: smooth;
}

.footer h2{
  position: relative;
  bottom: 20px; 
  font-weight: normal;
  font-size: 13px;
  width: 100%;

}

/* @media screen and (max-width: 1153px){
  .projects_page{
    width: 1153px;
  }
 
  .project_item{
    width: calc(1153px/4 - 50px);
   }
 } */