/* Style the header */
.header {
  padding: 100px;
  height: calc(100vh - 200px);
  text-align: center;
  background-image: url("back.jpg");
  color: black;
  scroll-behavior: smooth;
}

/* Increase the font size of the h1 element */
.header h1 {
  padding: 40px;
  font-size: 80px;
  scroll-behavior: smooth;
}

/* Header Description text */
.header p1{
    font-size: 20px;
}

.resume_page p2{
  position: absolute;
  left: 50%;
  top: calc(201vh);
  font-size: 30px;
  font-weight: bold;
}

.projects_page p2{
  position: absolute;
  left: 50%;
  top: calc(101vh);
  font-size: 30px;
  font-weight: bold;
}

.resume_item h2{
  position: absolute;
  left: 12px;
  top: 0px;
  font-weight: normal;
  color: rgb(46, 46, 46);
  font-size: 25px;
}

.resume_item date{
  position: absolute;
  left: 36px;
  top: 57px;
  font-weight: normal;
  color: rgb(136, 136, 136);
  font-size: 12px;
}

.resume_item description{
  position: absolute;
  left: 14px;
  top: 85px;
  font-weight: normal;
  color: rgb(68, 68, 68);
  font-size: 15px;
  line-height: 25px;
}

/* Style the top navigation bar */
.navbar {
  background-color: #c3f0ff;
  width: 100%;
  transition: 0.4s;
  top: 0px;
  /* make padding 18*/
  padding: 18px 20px;
  position: fixed;
  display: block;
  scroll-behavior: smooth;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 12px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color:#1ba0dd;
  color: black;
}

.projects_page {
  background-color: white;
  flex-direction: column;
  width: 100%;
  height: calc(100vh);
  scroll-behavior: smooth;
}

.resume_page {
  flex-direction: column;
  width: 100%;
  background-color: white;
  height: calc(100vh);
}

.contact_page{
  width: 100%;
  background-color: white;
  height: calc(100vh);
}

.download_button {
  background-color: #c3f0ff;
  border: none;
  color: black;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 195px;
  top: calc(208vh + 665px);
}

.download_button:hover {
  background-color: #1ba0dd;
  transition: 0.3s;
}

.resume_pic {
  position: absolute;
  right: 50px;
  top: calc(208vh);
}

.calendar_icon{
  position: absolute;
  width: 12px;
  height: 12px;
  left: 14px;
  top: 57px;
}

.resume_item {
  border-style: solid;
  border-width: 5px;
  border-color: white;
  color: black;
  display: block;
  background-color: rgb(248, 250, 255);
  /*padding: 100px 250px;*/
  width: 50%;
  height: 25%;

  /*postioning*/
  position: absolute;
  right: 700px;
  top: calc(208vh);

}

.resume_item:hover {
  transition: 0.5s;
  border-color: #1ba0dd;
}

.footer {
  flex-direction: column; 
  color: white;
  height: 290px; /* Some padding */
  padding: 20px;
  text-align: center; /* Center text*/
  background: rgb(26, 26, 26); /* Grey background */
  scroll-behavior: smooth;
}